Repository bottlenose-dolphins/worldgate-track-trace, pull requests merged in 2023-04, with the labels that each got.

#59 [BDTT-97] Customer can Contact Worldgate for Enquiries Regarding Shipment
  services/frontend/app/src/components/ViewShipments/ViewShipmentComponent.jsx
Labels: frontend, ready to review

#63 move sinokor and maersk dockerfiles
  docker-compose.yml
  services/backend/scrapers/dockerfiles/Dockerfile-Maersk-dev
  services/backend/scrapers/dockerfiles/Dockerfile-Maersk-prod
  services/backend/scrapers/dockerfiles/Dockerfile-Sinokor-dev
  services/backend/scrapers/dockerfiles/Dockerfile-Sinokor-prod
  services/frontend/app/src/api/config.js
Labels: enhancement, ready to review

#65 bug fix notification feature
  services/backend/core/complex_scraper.py
  services/backend/core/notification_complex.py
  services/backend/core/subscription.py
  services/frontend/app/src/api/config.js
  services/frontend/app/src/api/shipment.js
Labels: backend, ready to review
