Repository bottlenose-dolphins/worldgate-track-trace, pull requests merged in 2023-02, with the labels that each got.

#25 [BDTT-39, BDTT-40, BDTT-4, BDTT-5] Scraper-related Microservices
  services/backend/core/complex_scraper.py
  services/backend/core/export.py
  services/backend/core/export_cont.py
  services/backend/core/export_shipment.py
  services/backend/core/import.py
  services/backend/core/import_cont.py
  services/backend/core/import_shipment.py
  services/backend/core/invokes.py
  services/backend/core/prefix.py
  services/backend/core/requirements.txt
  services/backend/scrapers/ymlu_scraper.py
Labels: enhancement, help wanted, backend

#26 [BDTT-56] Refactor JWT User Info Extraction Function to API Endpoint
  services/backend/core/user.py
Labels: backend, ready to review

#27 [BDTT-42] COSCO Web Scraper
  services/backend/scrapers/coscoScraper.py
Labels: backend, ready to review

#31 [BDTT-55] Application Deployment & [BDTT-58] Dockerise Scraper Microservices
  README.md
  docker-compose.yml
  infrastructure/.gitignore
  infrastructure/.terraform.lock.hcl
  infrastructure/backend_core_user.tf
  infrastructure/backend_scraper_good.tf
  infrastructure/backend_scraper_kmtc.tf
  infrastructure/backend_scraper_one.tf
  infrastructure/backend_scraper_ymlu.tf
  infrastructure/ecr.tf
  infrastructure/ecs.tf
  infrastructure/frontend.tf
  infrastructure/networking.tf
  infrastructure/provider_details.tf
  infrastructure/service_discovery.tf
  infrastructure/terraform.tfstate
  infrastructure/terraform.tfstate.backup
  services/backend/core/Dockerfile-user
  services/backend/core/Dockerfile-user-dev
  services/backend/core/Dockerfile-user-prod
  services/backend/core/obtainIp.py
  services/backend/core/requirements.txt
  services/backend/core/user.py
  services/backend/scrapers/Dockerfile-Goodrich-dev
  services/backend/scrapers/Dockerfile-Goodrich-prod
  services/backend/scrapers/Dockerfile-Kmtc-dev
  services/backend/scrapers/Dockerfile-Kmtc-prod
  services/backend/scrapers/Dockerfile-One-dev
  services/backend/scrapers/Dockerfile-One-prod
  services/backend/scrapers/Dockerfile-Ymlu-dev
  services/backend/scrapers/Dockerfile-Ymlu-prod
  services/backend/scrapers/goodrichScraper.py
  services/backend/scrapers/kmtcScraper.py
  services/backend/scrapers/oneScraper.py
  services/backend/scrapers/ymlu_scraper.py
  services/frontend/Dockerfile
  services/frontend/app/package-lock.json
  services/frontend/app/package.json
  services/frontend/app/src/api/user.js
Labels: help wanted, backend, ready to review

#35 [BDTT-60] Navbar Revision
  services/backend/core/user.py
  services/frontend/app/public/index.html
  services/frontend/app/src/App.jsx
  services/frontend/app/src/components/Home/index.jsx
  services/frontend/app/src/components/Navigation/Navigation.jsx
  services/frontend/app/src/components/signIn/index.jsx
  services/frontend/app/src/index.css
  services/frontend/app/src/layout/Navbar.jsx
  services/frontend/app/src/layout/NavbarUser.jsx
  services/frontend/app/src/layout/index.jsx
Labels: frontend, ready to review

#38 Redesigned landing page
  services/frontend/app/package-lock.json
  services/frontend/app/src/components/Home/index.jsx
  services/frontend/app/src/img/base.png
  services/frontend/app/src/index.css
Labels: enhancement, frontend, ready to review

#34 [BDTT-62] Retrieve prefix and call corresponding scraper
  docker-compose.yml
  services/backend/core/Dockerfile-vendor-mast-dev
  services/backend/core/complex_scraper.py
  services/backend/core/import_shipment.py
  services/backend/core/prefix.py
  services/backend/core/vendor_mast.py
  services/backend/scrapers/ymluScraper.py
Labels: enhancement, backend, ready to review

#39 [BDTT-79] Navbar for Landing Page (transparency, text colours)
  services/frontend/app/src/App.jsx
  services/frontend/app/src/components/Home/index.jsx
  services/frontend/app/src/img/TrackAndTraceWhite.png
  services/frontend/app/src/layout/Navbar.jsx
  services/frontend/app/src/layout/index.jsx
Labels: frontend, ready to review
