Repository bottlenose-dolphins/worldgate-track-trace, pull requests merged in 2023-03, with the labels that each got.

#40 [BDTT-80] Sign out Functionality from Navbar
  services/backend/core/user.py
  services/frontend/app/src/App.jsx
  services/frontend/app/src/api/user.js
  services/frontend/app/src/components/signIn/index.jsx
  services/frontend/app/src/layout/Navbar.jsx
  services/frontend/app/src/layout/NavbarUser.jsx
Labels: frontend, ready to review

#41 [BDTT-77] Collapsible Side Bar (post Sign In)
  services/frontend/app/src/App.jsx
  services/frontend/app/src/components/Home/index.jsx
  services/frontend/app/src/img/search.png
  services/frontend/app/src/img/vessel.png
  services/frontend/app/src/layout/Layout.jsx
  services/frontend/app/src/layout/Navbar.jsx
  services/frontend/app/src/layout/NavbarUser.jsx
  services/frontend/app/src/layout/ProtectedLayout.jsx
  services/frontend/app/src/layout/SideBar.jsx
  services/frontend/app/src/layout/index.jsx
Labels: enhancement, frontend, ready to review

#45 return shipping line & port of loading
  services/backend/core/complex_scraper.py
  services/backend/core/export_shipment.py
  services/backend/core/import_shipment.py
Labels: bug, enhancement, backend

#48 Bug fix, changes to help with integration with other ms
  docker-compose.yml
  services/backend/scrapers/Dockerfile-Cord-dev
  services/backend/scrapers/Dockerfile-Cosco-dev
  services/backend/scrapers/Dockerfile-Good-dev
  services/backend/scrapers/Dockerfile-Kmtc-dev
  services/backend/scrapers/Dockerfile-One-dev
  services/backend/scrapers/Dockerfile-Ymlu-dev
  services/backend/scrapers/cordeliaScraper.py
  services/backend/scrapers/coscoScraper.py
  services/backend/scrapers/goodrichScraper.py
  services/backend/scrapers/kmtcScraper.py
  services/backend/scrapers/oneScraper.py
  services/backend/scrapers/ymluScraper.py
Labels: backend, ready to review, testing

#49 implement delay status
  services/backend/core/complex_scraper.py
  services/backend/core/export_shipment.py
  services/backend/core/import_shipment.py
Labels: enhancement, backend

#50 bug fix
  services/backend/core/viewAllShipments.py
  services/frontend/app/src/api/shipment.js
Labels: bug, backend

#52 Bug fixes for Complex Scraper involving Cosco
  services/backend/core/Dockerfile-complex-scraper-dev
  services/backend/core/Dockerfile-view-all-dev
  services/backend/core/invokes.py
  services/backend/scrapers/Dockerfile-Cosco-dev
  services/backend/scrapers/coscoScraper.py
Labels: bug, backend

#53 fix view all shipment
  services/backend/core/export.py
  services/backend/core/export_shipment.py
  services/backend/core/import.py
  services/backend/core/import_shipment.py
  services/backend/core/viewAllShipments.py
  services/backend/scrapers/kmtcScraper.py
  services/backend/scrapers/oneScraper.py
  services/frontend/app/src/components/ViewShipments/ViewShipmentComponent.jsx
Labels: bug, backend

#54 Link View All Shipments shipment card to Search Shipment feature
  services/backend/core/user.py
  services/frontend/app/src/api/shipment.js
  services/frontend/app/src/components/BLStatus/Status.jsx
  services/frontend/app/src/components/BLStatus/index.jsx
  services/frontend/app/src/components/Home/index.jsx
  services/frontend/app/src/components/ViewShipments/ViewShipmentComponent.jsx
  services/frontend/app/src/components/ViewShipments/index.jsx
  services/frontend/app/src/components/signUp/index.jsx
  services/frontend/app/src/layout/SideBar.jsx
Labels: frontend, ready to review

#55 [BDTT-93] Colour Code Delayed Containers
  services/backend/core/viewAllShipments.py
  services/frontend/app/src/components/BLStatus/Status.jsx
  services/frontend/app/src/components/ViewShipments/ViewShipmentComponent.jsx
  services/frontend/app/src/components/ViewShipments/index.jsx
Labels: frontend, backend, ready to review
